<div class="page-section">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <%= ibutton("", new_problem_solution_path(@problem), :class => "btn btn-white btn-circle paper-shadow relative", :iclass => "fa fa-plus") %>
                
            </div>
            <h2 class="text-headline margin-none">Solutions</h2>
            <p class="text-subhead text-light">propose a solution</p>
        </div>
    </div>
</div>