<div class="page-section">
    <div class="row">
        <div class="col-md-8 col-lg-9">
                <div class="list-group">
                    <div class="list-group-item">
                       
                            <div class="pull-right">

                                <%= ibutton("Start Discussion", new_problem_path, :class => "btn btn-default btn-primary", :iclass => "fa fa-fw fa-plus") %>
                            </div>

                            <div class="media-body">
                                <h4 class="text-headline margin-none">General</h4>
                                <p class="text-subhead text-light"> General Topic </p>
                            </div>
                  
                    </div>
          
                    <%= render :partial => "problems/list", :collection => @problems , :as => :problem %>

                </div>
         
        </div>

    </div>
</div>