<li class="list-group-item">
  <div class="row">

    <div class="action pull-right" style="margin-right:20px;">

  
    </div>

    <div class="col-xs-2 col-md-1">         <%= render_user_avatar(comment.user) %>    </div>
    <div class="col-xs-10 col-md-11">
      <div class="group ">
        <%= render_comment_content(comment) %>
        
    </div>
    <div class="mic-info pull-right">  
        By: <%= render_user_name(comment.user) %> on  <span class="underline"><%= comment.updated_at.to_s(:short) %> </span>
    </div>
</div>
</div>
</li>