<div class="media s-container solution-comment-form">
  <div class="group">
    <div class="media-left">
      <div class="width-70 text-center">
      </div>
    </div>
    <div class="media-body">
      <%= simple_form_for([solution, Comment.new],
            :namespace => "solution_#{solution.id}") do |f| %>

        <%= f.input(:content, :label => false,
              :input_html => {
                :rows => 3,
                :data => { :provide => "markdown" }
              }) %>


        <div class="form-footer text-right">
          <%= f.input(:agree_level, :as => :radio_buttons, :label => false,
                :collection => Comment.agree_levels,
                :inline_label => true,
                :boolean_style => :inline,
                :wrapper_html => { :class => "pull-left" },
                :item_wrapper_class => "radio-info radio-inline",
                :input_html => { :class => "bbb" }) %>

          <%= f.submit("Submit", :class => "btn", :disable_with => 'Submiting...') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
