<div class="media s-container solution-comment-form">
  <div class="group">
    <div class="media-left">
      <div class="width-70 text-center">
      </div>
    </div>
    <div class="media-body">
      <%= simple_form_for [solution, Comment.new]  do |f|  %>
      <%= f.input :content , :label => "Leave Comment",  :input_html => { :rows => 3 , :data => { :provide => "markdown"} } %>


        <%= f.input :agree_level,  :collection => Comment.agree_levels , 
        as: :radio_buttons, :label => false, :inline_label => true, :boolean_style => :inline, :wrapper_html => { :class => "panel-body"} ,
          :item_wrapper_tag => :div, :item_wrapper_class => "radio-info radio-inline",
        :input_html => { :class => "bbb"}
         %>
         
      <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn pull-right" %>
      <% end %>




    </div>
  </div>
</div>
