<div class="media s-container solution-comment-form">
  <div class="group">
    <div class="media-left">
      <div class="width-70 text-center">
      </div>
    </div>
    <div class="media-body">
      <%= simple_form_for([solution, Comment.new],
            :namespace => "solution_#{solution.id}") do |f| %>

        <%= f.input(:content, :label => false,    :inline_label => false,  :boolean_style => :inline,
              :input_html => {
                :rows => 3,
                :data => { :provide => "markdown" }
              }) %>


        <div class="group">
        
             <%= f.input(:agree_level, :as => :radio_buttons,
              :collection => Comment.agree_levels, :label => false, :label_method => lambda { |item| render_agree_text(item[0]) }, 
              :item_label_class => "btn btn-default", 
              :wrapper_html => { :class => "btn-group", :data => { :toggle => "buttons"}},
              :item_wrapper_tag => false,

        
             ) %>
                      <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn pull-right" %>
        </div>


      <% end %>
    </div>
  </div>
</div>
