<div class="media s-container solution-comment-form">
  <div class="group">
    <div class="media-left">
      <div class="width-70 text-center">
      </div>
    </div>
    <div class="media-body">
      <%= simple_form_for [solution, Comment.new]  do |f|  %>
      <%= f.input :content , :label => "Leave Comment",  :input_html => { :rows => 3 , :data => { :provide => "markdown"} } %>
      <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn pull-right" %>
      <% end %>
    </div>
  </div>
</div>
